BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
NamespaceIndentation: All

SortIncludes: Never

ColumnLimit: 0
# AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Allman
BinPackParameters: false

PointerAlignment: Left

IndentCaseLabels: true
IndentCaseBlocks: false

MaxEmptyLinesToKeep: 2
