BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4

SortIncludes: Never

ColumnLimit: 70
# AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Allman
BinPackParameters: false

PointerAlignment: Left

IndentCaseLabels: true
IndentCaseBlocks: false
